@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-size: 14pt;
    font-family: "Times New Roman";
}

p {
    color: red;
}

h1 {
    font-family: 'Agbalumo';
    font-size: 36pt;
}

/* main, header, footer, nav ul {
    max-width: 70rem;
    margin: 0 auto 0 auto;
} */

main {
    background-color: bisque;
}

/* nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
} */

header {
    display: block;
    margin: 2vw;
    height: 450px;
    overflow: hidden;
    background-image: url(C:\Users\joelt\Documents\1MD031-lab-2024\public\img\header.webp);
    background-position: center;
    background-size: cover;

}

header img {
    width: 100%;
    height: auto;
    opacity: 0.7;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width:40rem;
    margin: 0 auto;
    color: white;
    
}

/*nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}

.Very-good {
    color: green;
}

.Master {
    color: green;
    font-weight: bold;
} */

.allergen {
    font-weight: bold;
}

#burgerinformation {
    color: white;
    background-color: black;
    
}

button:hover, input[type="radio"] {
    cursor: pointer;
}

.wrapper {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 300px 300px 300px;
}

 .box {
     background-color: #444;
     color: #fff;
     border-radius: 5px;
     padding: 20px;
     font-size: 100%;
     width: 340px;
 }


.wrapper img {
    width: 300px;
    height: 250px;
}


button {
    margin: 2vw;
}

section {
    padding: 2vw;
    margin: 2vw;
    border: 4px dotted white;
}