@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-size: 14pt;
    font-family: "Times New Roman";
}

p {
    color: red;
}

h1 {
    font-family: 'Agbalumo';
    font-size: 36pt;
}

/* main, header, footer, nav ul {
    max-width: 70rem;
    margin: 0 auto 0 auto;
} */

main {
    background-color: bisque;
}

/* nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
} */

header {
    display: block;
    margin: 2vw;
    height: 390px;
    overflow: hidden;

}

header img {
    width: 100%;
    height: auto;
    opacity: 0.7;
}

header h1 {
    position: absolute;
    width:40rem;
    margin: 0 auto;
    text-align: center;
    margin-top: -1;
    color: white;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}

.Very-good {
    color: green;
}

.Master {
    color: green;
    font-weight: bold;
}

.allergen {
    font-weight: bold;
}

#burgerinformation {
    color: white;
    background-color: black;
    
}

button:hover, input[type="radio"] {
    cursor: pointer;
}

.burgarblock {
    margin: 10px;
}



button {
    margin: 2vw;
}

section {
    padding: 2vw;
    margin: 2vw;
    border: 4px dotted white;
}